header {
  clear: both;
  position: relative; }
  header a {
    float: left; }
  header h1 {
    font-style: Georgia, sans-serif;
    font-size: 12px;
    float: left;
    margin: 0 0 0 5px;
    display: inline-block;
    line-height: 56px;
    padding-top: 8px;
    font-weight: normal;
    letter-spacing: .2em; }
    header h1 span {
      letter-spacing: 0; }

#nav1 {
  float: right; }
  #nav1 ul li {
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 5px;
    font-size: 12px; }
    #nav1 ul li:last-child {
      background: #444444;
      text-align: center;
      color: #757575;
      padding: 10px 15px; }
      #nav1 ul li:last-child a {
        color: white;
        font-weight: bold; }
        #nav1 ul li:last-child a:hover {
          color: white; }
    #nav1 ul li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #444444;
      font-size: 12px; }
      #nav1 ul li a:hover {
        color: #444444; }
  #nav1 ul .socials {
    border: none;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out; }
    #nav1 ul .socials:hover {
      opacity: 0.5; }

#nav2 {
  float: left; }
  #nav2 ul li {
    display: inline-block; }
    #nav2 ul li #teal {
      color: #409f89; }
      #nav2 ul li #teal:hover {
        color: #757575; }
    #nav2 ul li a {
      font-style: Georgia, sans-serif;
      color: #444444;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      -webkit-transition: color .2s ease-in-out;
      -moz-transition: color .2s ease-in-out;
      transition: color .2s ease-in-out; }
      #nav2 ul li a:hover {
        color: #757575; }
  #nav2 textarea {
    background-color: #dee0df;
    float: right;
    width: 180px;
    height: 25px;
    position: relative;
    /* Ben: you may need to change this-it will effect the postioning of Nav 3 */
    top: -50px;
    left: 516px;
    border: 1px solid #b6b8b7;
    color: #b6b8b7;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-left: 5px;
    line-height: 16px; }

section {
  font-style: Georgia, sans-serif;
  color: #444444;
  margin-top: 25px; }
  section #main_image {
    float: left; }
    section #main_image:hover {
      -webkit-transition: opacity .1s ease-in-out;
      -moz-transition: opacity .1s ease-in-out;
      transition: opacity .1s ease-in-out;
      opacity: 0.8; }
    section #main_image p {
      font-size: 12px;
      font-weight: bold;
      padding-left: 15px; }
      section #main_image p a {
        font-size: 12px;
        font-weight: bold;
        padding-left: 15px;
        text-decoration: none;
        font-style: Georgia, sans-serif;
        color: #444444; }
      section #main_image p span {
        font-weight: normal;
        font-style: italic;
        color: #409f89; }
  section #circles {
    width: 84px;
    float: left;
    padding: 0 0 0 7px;
    margin: 0; }
  section #table {
    float: left; }
    section #table table {
      background-color: #dee0df;
      width: 611px; }
      section #table table tr {
        line-height: 30px;
        border-bottom: 1px solid #D5D7D6; }
        section #table table tr:nth-child(1) {
          border-bottom: none; }
        section #table table tr:last-child {
          border-bottom: none; }
        section #table table tr .grey {
          font-style: normal;
          color: #444444;
          text-decoration: none; }
        section #table table tr .teal {
          font-style: italic;
          color: #409f89;
          text-decoration: none; }
      section #table table th {
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        border-bottom: none; }
      section #table table td {
        font-size: 12px; }
        section #table table td img {
          position: relative;
          top: 6px; }
        section #table table td:nth-child(1) {
          text-align: left;
          width: 25%; }
        section #table table td:nth-child(2) {
          width: 32%; }
        section #table table td:nth-child(3) {
          text-align: left;
          width: 17%;
          font-size: 14px; }
        section #table table td:nth-child(4) {
          text-align: left;
          width: 18%; }
        section #table table td:nth-child(5) {
          text-align: left;
          width: 8%; }
    section #table ul {
      float: right;
      padding-right: 18px; }
      section #table ul li {
        background-color: #dee0df;
        display: inline;
        font-size: 10px;
        padding-left: 15px; }
        section #table ul li:nth-child(even) {
          padding: 0; }
        section #table ul li:nth-child(odd) {
          position: relative; }
        section #table ul li:nth-child(1) {
          top: 3px; }
        section #table ul li:nth-child(3) {
          top: 5px;
          left: 3px; }
        section #table ul li:nth-child(5) {
          top: 1px;
          left: 2px; }
        section #table ul li:nth-child(7) {
          top: 2px;
          left: 3px; }

.clear {
  clear: both; }

body {
  background-color: #dee0df; }

#main {
  width: 1182px;
  margin: auto; }
