footer
{
  float:left;
  width:100%;
  margin-top:25px;

  ul
  {
    list-style-type: none;
    padding:0;

    li:first-child
    {
      margin-left:0px;
    }

    li
    {
      display:inline-block;
      float:left;
      position:relative;
      margin-left:23px;

      div
      {
        margin-bottom:10px;

        img.topimage {
          position: absolute;
          left:0;
          top:0;

          &:hover
          {
             opacity:0;
          }
        }

        img
        {
          -webkit-transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -o-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;

          float:left;
        }
      }

      h4
      {
      font-size:12px;
      font-weight:bold;
      color: #584444;
      margin-top:10px;
      }

      p
      {
        font-size:12px;
        color: $teal;
      }
    }
  }
}