#nav1 {
  float: left;
  padding-left: 630px;
  width: 960px;
  margin: auto;
  ul {

    li {
      float: left ;

      display: inline-block;
      border-right: 1px solid black;
      padding: 0 5px;
      font-size: $normal_font_size;
        &:last-child{
          background: $grey;
          text-align: center;
          color: #757575;
          padding: 10px 15px;

          a{
            color: white;
            font-weight: bold;
          }
        }

      a{
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
        font-size: normal_font_size;

        .socials{
          border: none;
          -webkit-transition:opacity .2s ease-in-out;
          -moz-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
            &:hover{
              opacity: 0.1;
          }
        }
      }
    }
  }
}
