#nav1 {
  float: right;

  ul {

    li {
      display: inline-block;
      border-right: 1px solid black;
      padding: 0 5px;
      font-size: $normal_font_size;
        &:last-child{
          background: $grey;
          text-align: center;
          color: $light_grey;
          padding: 10px 15px;

          a{
            color: white;
            font-weight: bold;
            &:hover {
              color: white;
            }
          }
        }

      a{
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
        font-size: $normal_font_size;
          &:hover {
            color: desaturate($grey, 70%);
          }
        }
      }
    .socials {
      border: none;
      -webkit-transition:opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
        &:hover{
          opacity: 0.5;
      }
    }
  }
}
