#nav3
{
  width:100%;
  border-top: 1px solid #b6b8b7;
  border-bottom: 1px solid #b6b8b7;
  height:45px;
  float:left;

  img
  {
    display:block;
    float:right;
  }

  ul
  { padding:0px;
    list-style-type:none;
    float:left;
    margin:0;

    li
    {
      display:inline-block;
      float:left;

      border-right: 1px solid #b6b8b7;
      padding:15px;
      font-family: $site_font;
      color:#444;
      font-size:12px;
      margin:0px;

      &:hover {
        border-bottom: 1px solid black;
      }

    }

    li:first-of-type
    {
      padding-left:0;
    }

    li:last-of-type
    {
      border-right:none;
    }
  }
}