#nav2 {
  float: left;
    ul {

      li {
        display: inline-block;


          a {
            font-style: $site_font;
            color: $grey;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 10px;
            -webkit-transition: color .2s ease-in-out;
            -moz-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
              &:nth-of-type(5) {
                color: $teal;
              }


            &:hover{
              color: $light_grey;
              }
            }


      }
    }
  }