section
{
  font-style: $site_font;
  color: $grey;
  margin-top: 25px;

  #main_image
  {
    float: left;

    #main_pic
    {
      height: 287px;
      width: 459;
    }

    p
    {
      font-size: 12px;
      font-weight: bold;
      padding-left: 15px;

      span
      {
        font-weight: normal;
        font-style: italic;
        color: $teal;
      }
    }
  }

  #circles
  {
    width: 77px;
    float: left;
    padding: 0;
    margin: 0 10px;
  }

  #table
  {
    float: left;

    table
    {
      background-color: rgb(222, 224, 223);
      width: 611px;

      tr
      {
        line-height: 30px;
        border-bottom: 1px solid #D5D7D6;
        &:nth-child(1)
        {
          border-bottom: none;
        }
         &:last-child
        {
          border-bottom: none;
        }
      }

    th
    {
      text-align: left;
      font-size: 12px;
      font-weight: normal;
      border-bottom: none;
    }
    td
    {
      img
      {
        position: relative;
        top: 6px;
      }

      font-size: 12px;
      &:nth-child(1)
        {
        text-align: left;
        width: 25%;
        }
      &:nth-child(2)
        {
        font-style: italic;
        width: 32%;
        color: $teal;
        }
      &:nth-child(3)
        {
        text-align: left;
        width: 17%;
        font-size: 14px;
        }
      &:nth-child(4)
        {
        text-align: left;
        width: 18%;
        }
      &:nth-child(5)
        {
        text-align: left;
        width: 8%;
        }
    }
    }
    ul
    {
      float: right;
      padding-right: 18px;
      li
      {
        background-color: rgb(222, 224, 223);
        display: inline;
        font-size: 10px;
        padding-left: 15px;
        &:nth-child(even)
        {
          padding: 0;
        }
        &:nth-child(odd)
        {
          position: relative;
        }
        &:nth-child(1)
        {
          top: 3px;
        }
        &:nth-child(3)
        {
          top: 5px;
          left: 3px;
        }
         &:nth-child(5)
        {
          top: 1px;
          left: 2px;
        }
         &:nth-child(7)
        {
          top: 2px;
          left: 3px;
        }
      }
    }

  }
}