@import 'colors';
@import 'fonts';
@import 'header';
@import 'nav1';
// @import 'nav2';
// @import 'nav3';
@import 'section';
// @import 'footer';

.clear {
  clear: both;
}

body {
  background-color: rgb(222, 224, 223);
}

#main {
  width: 1182px;
  margin: auto;
}

